// $primary-color: #336699;
// $secondary-color: #666666;
// $third-color: #999999;

$background-color: #f8fcff;
$primary-color: #0069c0;
$secondary-color: #008ac5;
$third-color: #00a9b5;
$text-normal-color: #212529;
$text-subnormal-color: #64707c;