@import '../style/global';

.top-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 35px;
  height: 50px;
  background-color: rgb(238, 238, 238);
  border-bottom: 1px solid rgb(231, 231, 231);

  .logo {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .menus {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 100px;
    
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;      
      height: 100%;
      color: $text-subnormal-color;

      &:hover {
        color: $text-normal-color;
        cursor: pointer;
      }
      
      p {
        font-size: 14px;  
        font-weight: 700;
      }
    }

    .is-active {
      color: $primary-color;
    }
  }
}